* {
    padding: 0;
    /* Resets all padding to 0 */
    margin: 0;
    /* Resets all margins to 0 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    box-sizing: border-box;
    /* Makes width and height include padding and border */
    list-style: none;
    /* Removes bullet points from lists */
    scroll-behavior: smooth;
    /* Enables smooth scrolling for anchor links */
    text-decoration: none;
    /* Removes underlines from links */
}

:root {
    --text-color: #f5f5f5;
    --hover-color: #12f7ff;
    --bg-color: #250821;
    --secon-bg-color: #292e33;
    --big-font: 2.5rem;
    --normal-font: 2rem;
    --neon-box-shadow: 0 0 0.5rem #12f7ff;
    --h2-font: 3rem;
    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
        0 0 20px rgba(18, 247, 255, 0.3),
        0 0 30px rgba(18, 247, 255, 0.3),
        0 0 40px rgba(18, 247, 255, 0.3),
        0 0 70px rgba(18, 247, 255, 0.3),
        0 0 80px rgba(18, 247, 255, 0.3),
        0 0 100px rgba(18, 247, 255, 0.3),
        0 0 150px rgba(18, 247, 255, 0.3);
}

body {
    color: #ededed;
    background: #081b29;
    font-family: 'poppins', sans-serif;

}

/* -------------------this is for stars background---------------- */
.stars {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    /* Set behind other content */
    overflow: hidden;
    top: 0;
    left: 0;
}

/* Individual star styling */
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    opacity: 0.8;
    border-radius: 50%;
    animation: moveStar 15s linear infinite;
}




/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 1;
    background-color: rgba(42, 50, 86, 0.9);
}



.logo {
    position: relative;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
    text-transform: capitalize;
    text-shadow: 4.5px 4px 10px rgb(199, 51, 222);
    letter-spacing: 3px;
    font-family: "Clicker Script", cursive;
    margin-top: -14px;
    text-align: justify;


}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar a {
    display: inline-block;
    font-size: 23px;
    color: cyan;
    text-decoration: none;
    font-weight: 550;
    margin-left: 35px;
    transition: 0.35s;
    text-shadow: 3px 3px 20px rgb(16, 178, 219);
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.15s * var(--i));

}

.navbar a:hover {
    color: rgb(208, 196, 32);
    text-shadow: 3px 3px 20px rgb(18, 212, 255),
        3px 3px 50px rgb(18, 212, 255);

}

/* ------------------------------------Home Section---------------------------------------------------------------------------------------- */


.home {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 90px 7% 0 7%;
   
    overflow: hidden;
    /* Ensures content does not overflow */
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(bg.jpg) no-repeat center center/cover;
    /* Background image */
    z-index: -3;
    /* Set z-index for the background image */
}

/* Ensure other content is above the background image */
.home>* {
    position: relative;
    /* Ensure all direct children are above the background */
    z-index: 0;
    /* Set a higher z-index for other content */
}



.home-content {
    max-width: 600px;
    text-align: center;
 
    padding: 65px 0 40px 0;
  


}

.home-content:hover {
    color: #141f9e;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .45s;
    margin-bottom: 15px;
   

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    margin-top: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.45s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 50px;
    font-weight: 700;

    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.29s;
    margin-bottom: 15px;
}

.home-content h1 span {
    font-size: 56px;
    /*font-family:  ;*/
    font-weight: 700;
    background: linear-gradient(to right, rgb(47, 255, 24), rgb(180, 68, 217));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.25s;
    font-weight: 510;
    background: linear-gradient(to right, rgb(60, 110, 228), rgb(85, 192, 136));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    

}



.home-sci {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgb(253, 200, 248);
    border: 2px solid rgb(35, 58, 209);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(32, 66, 238);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.9s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.07s * var(--i));
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef, 0 0 30px #0ef;
}

/* Buttons */
.btn-box {
    display: inline-block;
    padding: 10px 28px 10px 28px;
    margin-top: 20px;
    margin-left: 15px;
    background: rgb(11, 11, 40);
    border-radius: 40px;
    font-size: 16px;
    color: #17ecff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.2s;
    box-shadow: 1px 1px 4px #0ef, 1px 1px 15px #0ef;


}

.btn-box:hover {
    background: #141f9e;
    box-shadow: 0 0 4px cyan, 0 0 15px cyan, 0 0 30px cyan, 0 0 60px cyan, 0 0 120px cyan;



}

/*-------------------------------------------------- About Section ---------------------------------------------------------------------------------------*/
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    



}

.about-img img {
 
    max-width: 570px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    animation: slideRight 1.6s ease forwards;
    animation-delay: 0.2s;
    margin: 3% 0 0 3.4%;

}

.image-down-btn {
    padding: 0 0 10% 10%;
    margin-top: -4%;
    text-align: left;



}

.about-text {
    padding-top: 0;
    padding-right: 10%;
    text-align: justify;
    opacity: 0;
    animation: slideBottom 1.6s ease forwards;
    animation-delay: 0.2s;

}

.about-text h2 {
    font-size: 45px;
    text-decoration: underline;
    background: linear-gradient(to left, rgb(47, 255, 24), rgb(180, 68, 217));
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.about-text h2 span {
    background: linear-gradient(to right, rgb(47, 255, 24), rgb(180, 68, 217));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.about-text h4 {
    font-size: 25px;
    font-weight: 600px;
    line-height: 1.7;
    margin: 15px 0 30px;

}

.about-text h4 span {
    font-size: 25px;
    font-weight: 600px;
    color: #0ef;
    line-height: 1.7;
    margin: 15px 0 30px;

}

.about-text p {

    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 1.7rem;
    background: linear-gradient(to right, rgb(60, 110, 228), rgb(85, 192, 136));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.2s;
}

.paragraph-down a {

    background: rgb(20, 29, 46);
    animation: slideTop 2s ease forwards;
    animation-delay: 0.2s;
}



/* -------------------------------------- services section css  starts from here --------------------------------------------------------*/


.services {
    color: rgb(255, 240, 249);
    font-size: 20px;
    line-height: 1.4;
    padding: 60px 90px 60px 90px;
   
}



.sub-title {
    text-align: center;
    font-size: 45px;
    
    padding-top: 18px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.2s;
    background: linear-gradient(to left, rgb(47, 255, 24), rgb(180, 68, 217));
    background-clip: text;
    -webkit-text-fill-color: transparent;



}


.sub-title span {

    background: linear-gradient(to left, rgb(47, 255, 24), rgb(180, 68, 217));
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.sub-title-up {

    text-align: center;
    font-size: 15px;
    color: #08efff;
    text-decoration: underline;


    opacity: 0;
    animation: slideRight 1.5s ease forwards;
    animation-delay: 0.3;
    padding: 8px 0 45px 0;

}



.sub-title-up .text6 {
    background: linear-gradient(to left, rgb(47, 255, 24), rgb(180, 68, 217));
    background-clip: text;
    -webkit-text-fill-color: transparent;


}




.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;


}

.services-list div {
    /*background-color: rgb(11, 11, 40);*/
    background-color: rgb(11, 11, 40);
    padding: 40px;

    font-size: 13px;
    font-weight: 13px;

    border-radius: 20px;
    transition: background 0.9s, transform 0.5s;
    box-shadow: 2px 2px 20px #012290f7,
        2px 2px 40px #033878f7;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.2s;

}

.services-list div:hover {
    background-color: #24084f;



}

.services-list div i {

    font-size: 48px;
    margin-bottom: 22px;

}

.services-list div h2 {

    font-size: 27px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #00e5ff;



}


.services-list div a {
    text-decoration: none;
    color: #12b4f4;
    font-size: 12px;
    margin-top: 30px;
    display: inline-block;

}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(11, 11, 40);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.2s;
    box-shadow: 1px 1px 4px #0ef,
        1px 1px 10px #033878f7;
}

.read:hover {


    font-weight: 600;
    box-shadow: 0 0 10px #0ef, 0 0 20px #0ef;
}

.services-down-btn {

    text-align: center;
    margin-top: 10px;
}

.services-down-btn a {

    padding: 10px 12%;
    background: #090d32;
    color: #00e5ff;
    transition: background 1s, transform 1.4s;
}

.services-down-btn a:hover {

    background: rgb(43, 3, 68);
    font-weight: 600;
    box-shadow: 0 0 1px rgb(6, 202, 216), 1px 1px 25px #0ef;
}



/*-------------------------------- section 5 my skills-------------------------------------------------------------------------------------- */

/*---------------*/




.skills {
    padding:60px 180px 60px 180px;
}
.skills .main-text {
    text-align: center;  
    margin : 60px 0 70px 0;  
}

.skills .main-text span {
    color: rgb(62, 54, 69);
   



}

.skills .main-text h2 {
    background: linear-gradient(to left, rgb(47, 255, 24), rgb(180, 68, 217));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin-top: 15px;
   

}

.skills .main-text h2 span {

    background: linear-gradient(to left, rgb(47, 255, 24), rgb(180, 68, 217));
    background-clip: text;
    -webkit-text-fill-color: transparent;

}





.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 100px;
}




.skill-bar {
    margin-bottom: 2.3rem;
}

.skill-main h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
    color: #12f7ff;
    font-family: none;
}

.skill-technical .skill-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.skill-technical .skill-bar .bar {
    width: 100%;
    height: 10px;
    background-color: #000000;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span {
    width: 50%;
    height: 10px;
    left: 0;
    position: absolute;
    background: #12f7ff;
    border-radius: 25px;
    box-shadow: 0 0 .5rem #12f7ff;
}

.skill-bar .bar .html {
    width: 90%;
    animation: html 2s;
}

.skill-bar .bar .css {
    width: 80%;
    animation: css 3s;
}

.skill-bar .bar .javascript {
    width: 75%;
    animation: javascript 4s;
}

.skill-bar .bar .java {
    width: 40%;
    animation: java 5s;
}

/* ------------------- Professional Skills Section ------------------- */

.professional {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.professional .box {
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}

.professional .box .text {
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.professional .text big {
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.professional .text small {
    display: block;
    font-weight: 600;
}

.professional .circle {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    /*-- position: relative;   */
}

.professional .points {
    width: 2px;
    height: 10px;
    background-color: #000000;
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
}

.points.marked {
    animation: glow 0.06s linear forwards;
    /* Adjust duration as needed */
    animation-delay: calc(var(--i) * 0.04s);
    /* Delay for staggered effect */
}




/*-------------------------------- section 6 my portfolio-------------------------------------------------------------------------------------- */

.portfolio {
    padding:60px 10% 60px 10%;
}
.portfolio .main-text {
    text-align: center;  
    margin : 60px 0 70px 0;  
}

.portfolio .main-text span {
    color: rgb(62, 54, 69);
   
  


}

.portfolio .main-text h2 {
    background: linear-gradient(to left, rgb(47, 255, 24), rgb(180, 68, 217));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin-top: 15px;


}

.portfolio .main-text h2 span {

    background: linear-gradient(to left, rgb(47, 255, 24), rgb(180, 68, 217));
    background-clip: text;
    -webkit-text-fill-color: transparent;

}



/*-------------------------------- Media Queries for Mobile starts from here--------------------------------------------------------------------------------------------------- */



@media only screen and (max-width: 768px) {
    /*----------------------media header section 1---------------------------*/

   
    .header {
        width: 100%;
        height: 68px;
    }

    .hamburger {
        display: block;
        font-size: 38px;
        /* Adjust this to change the size of the icon */
        padding-bottom: 10px;
        /* Adjust the padding around the icon */
        margin-top: -8.5px;
        margin-left: -35px;
        /* Adjust the margin to control spacing */
        color: #d3cde6;
        /* Icon color */
        cursor: pointer;
        font-weight: 900;
        z-index: 10;

    }


    .close-btn {
        display: block;
        font-size: 38px;
        font-weight: 600;
        color: #d3cde6;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 3%;
        z-index: 10;


    }

    .logo {
        position: absolute;
        right: 30%;
        font-size: 33px;
        text-align: center;
    }



    .navbar {
        display: none;
        /* Hide navbar content by default */
        flex-direction: column;
        align-items: flex-start;
        padding-top: 90px;
        padding-bottom: 25px;
        background: rgba(4, 15, 45, 0.694);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;


    }






    .navbar.active {
        display: flex;
        /* Show navbar content when active */
    }

    .navbar a {
        margin: 10px 0;
        font-size: 20px;
        color: rgb(3, 252, 252);
        font-weight: bolder;
        padding-left: 25px;
        text-decoration: underline;
        padding-right: 25px;
        opacity: 0;
        animation: slideBottom .5s ease forwards;
        animation-delay: calc(.15s * var(--i));
    }



    /* ----------------------------------media home section 2----------------------------------*/
   

    .home {
        text-align: center;
    }

    .home::before {
        background: none;
        /*--in mobile view background image hide---*/
    }


    .home-content h1 span {
        font-size: 45px;

    }


    .home-content h3 {

        margin-top: 10px;

    }


    /*---------------------------------  media about section 3 ------------------------------------*/

    .about {
        display: flexbox;
        padding-top: 60px;
        padding-bottom: 40px;
        text-align: center;

    }

    .about-text-topic {

        margin-left: -55%;
    }

    .about-text-topic h4 {

        margin-left: -7%;

    }

    .image-down-btn .btn-box {

        font-size: 12px;
        margin-top: 25px;
        

    }

    .about-text p {

        font-size: 14.5px;
        margin: 0 -15px 0 -20px;
        padding-bottom: 1rem;
        text-align: justify;

    }

    .paragraph-down a {
        margin-left: -60%;
        font-size: 13x;
        margin-top: 50%;

    }


    /*-------------------------------media services section 4----------------------------------*/

   
    .sub-title-up {

        padding-bottom: 50px;
    }

    .services-list {

        margin: 0 -40px;
        text-align: center;

    }
    .services-down-btn  {

        padding-top: 25px;
    }

    .services-down-btn a {

        padding: 5px 15%;
    }



    /*-------------------------------media skills section 4----------------------------------*/
    .skills {
        padding: 50px 5%;
        text-align: center;
    }


    .skill-main {
        grid-template-columns: 2fr;
    }

    .skill-technical {

        padding: 0 40px;
    }








    /*---------------for mobile view image setup------------------------------*/


    .img-for-mobile {
       
        margin-bottom: -180px;
        text-align: center;
         margin-left: -40px;
       
    }
}




/*-------------------------------out of media view, hide content 4----------------------------------*/

@media (min-width: 769px) {
    .header .close-btn {
        display: none;
       
    }

    .hamburger {
        display: none;
    }

    .img-for-mobile {
        display: none;

    }




}



/* ---------------------------this is Keyframes for animation of intro of content----=--------------------------------------------------------------------------- */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}




/*------------------------keyframes for skills section ----------------------------*/


@keyframes morph {

    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;

    }

    30% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    60% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }

    80% {
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }

}

/*--keyframes for technical skill----*/

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

/*---------keyframes for professional skill---------*/
@keyframes glow {
    0% {
        background: #250821;
        box-shadow: none;
    }

    100% {
        background: #12f7ff;
        box-shadow: 0 0 .7rem #12f7ff;
    }
}

/*------------ keyframe for Animation moving stars----------*/
@keyframes moveStar {
    from {
        transform: translateY(100vh);
        /* Start from the bottom */

    }

    from {
        transform: translateY(10vh);
        /* Start from the bottom */

    }

    to {
        transform: translateY(-10px);
        /* End at the top */

    }
}